@import 'variables'
@import 'mixins'

body
  margin: 0
  padding: 0

div.first
  height: 500px
  width: 500px
  position: relative
  border: solid 1px #DDD
  div
    display: block
    position: absolute
    right: 0px
    bottom: 0px

@for $i from 0 through 20
  @for $j from 0 through 20
    #square_#{$i}_#{$j}
      width: #{(500-($j*25))}px
      height: #{(500-($i*25))}px
      &:hover
        @for $k from 1 through 9
          #character_#{$k}
            //$x : #{(430-($j*20))}
            right: #{(430-($j*25))}px
            //@include mani($x)
            //@include animation(foo, 1s, 1s)
            bottom: #{(450-($i*25))}px


@for $i from 1 through 6
  #character_#{$i}
    @include transition($i)
    width: #{(45-$i*5)}px
    height: #{(45-$i*5)}px
    opacity: #{(9-$i)/10}

span.char
  @include rounded
  position: absolute
  right: 700px
  display: block
  bottom: 700px
  background: red
  &:hover
    background: blue


